<div id="sopra">
  <youtube-player 
    videoId="GYAB4Td62zI" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>


  <youtube-player 
    videoId="Bu8bH2P37kY" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>

</div>

<br>

<div id="sotto">
  <youtube-player 
    videoId="GYAB4Td62zI" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>

  <youtube-player 
    videoId="Bu8bH2P37kY" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>

</div>